/* import of font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* lato is parent fonts of miami */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+CU:wght@100..400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
  background-color: #000000;
  color: white;
}

/* share styles */

.container{
  width: 90%;
  margin: 0 auto;
}

section{
  margin: 40px 0px;
}
.btn{
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  margin: 30px 0;
  background-color: #E6533C;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

/* end share styles */

/* navigation menu design */

.header{
  padding-top: 30px;
  background-color: rgb(27, 27, 27);
}
.header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  gap: 45px;
  padding: 0 2px;
  border: 1px solid #292929;
  border-radius: 25px;
}
nav ul li{
  list-style: none;
  padding: 10px 20px;
}
nav ul li:hover{
  background-color: #E6533C;
  border-radius: 25px;
}
nav .nav-title{
  font-family: "Inter", sans-serif;
  font-size: 36px;
  color: #E6533C;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
nav ul li:first-child{
  background-color: #E6533C;
  border-radius: 25px;
}
nav ul li:last-child{
  display: none;
}

/* banner area */
.banner-area{
  margin-top: 50px;
  margin-bottom: 0;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.banner-content{
  width: 50%;
}
.banner-title{
  font-size: 78px;
  font-weight: 900;
  line-height: normal;
}
.banner-description{
  font-size: 14px;
  text-align: left;
  margin-top: 20px;
  opacity: 0.6;
  line-height: 1.5rem;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.banner-content .shape{
  font-family: "Playwrite CU", cursive;
  font-weight: 600;
  font-style: italic;
}
.banner-btn{
  display: flex;
  align-items: center;
  gap: 20px;
}
.banner-content .btn-2{
  background: transparent;
  border: 1px solid white;
}
.banner-main-img{
  width: 50%;
  text-align: center;
  position: relative;
}
.banner-tutorial .tutorial-content{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #2b2828;
  backdrop-filter: blur(60px);
  position: absolute;
  top: 70%;
  border-radius: 10px;
}
.fa-circle{
  color: #E6533C; 
  font-size: 30px;
}
.tutorial-content .title-tutorial{
  font-size: 24px;
  font-weight: 800;
}
.tutorial-content p{
  font-size: 12px;
  font-weight: normal;
  opacity: 0.7;
}
.work-out{
  padding: 10px 15px;
  background-color: #2b2828;
  backdrop-filter: blur(80px);
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 60%;
}
.title-workout{
  font-size: 24px;
  font-weight: 800;
  text-align: start;
}
.work-out p{
  font-size: 12px;
  font-weight: normal;
  opacity: 0.7;
}
/* end banner area */

/* ! habit area start */

.habit-area .habit-title{
  text-align: center;
  font-size: 48px;
}
.habit-area .habit-description{
  text-align: center;
  font-size: 15px;
  opacity: 0.5;
  margin: 20px 0px;
}
.habit-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.habit-human{
  text-align: center;
}
.habit-content .human-img{
  border: 4px solid #292929;
  border-radius: 50%;
}
.habit-human h3{
  font-size: 18px;
  font-weight: 500;
}
.habit-human p{
  font-size: 14px;
  padding: 5px 20px;
  opacity: 0.5;
}
/* end of habit area */

/*? run section design  */

.run-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  background-color: #222222;
  padding: 50px;
  border-radius: 20px;
}
.run-content{
  width: 50%;
  padding: 0 50px;
}
.run-content h2{
  font-size: 48px;
  color: white;
  margin: 10px 0px;
  text-align: start;
}
.run-content p{
  text-align: justify;
  color: white;
  opacity: 0.5;
}
.run-image{
  width: 50%;
  height: 50%;
  text-align: end;
}
.run-image .run-img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* end run area */

/*! traning area start */

.traning h2{
  font-size: 48px;
  color: white;
  margin-bottom: 10px;
}
.traning p{
  font-size: 14px;
  opacity: 0.5;
}
.traning-images{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  text-align: center;
  margin-top: 50px;
  background-color: rgb(116, 82, 50);
}
.traning-images img{
  width: 100%;
  height: 100%;
}
.img-1{
  position: relative;
  grid-column: 1/span 3;
  opacity: 0.5;
}
.img-2{
  position: relative;
  grid-column: 4/span 6;
  backdrop-filter: blur(30%);
}
.img-3{
  position: relative;
  grid-column: 10/span 13;
  opacity: 0.5;
}
.img-4{
  position: relative;
  grid-column: 1/span 5;
  backdrop-filter: blur(30%);
}
.img-5{
  position: relative;
  grid-column: 6/span 3;
  opacity: 0.3;
}
.img-6{
  position: relative;
  grid-column: 9/span 13;
  opacity: 0.8;
}
.img-1 .content-1{
  position: absolute;
  top: 70%;
  padding: 0px 10px;

}
.content-1 span{
  color: #ffffff;
  font-weight: bold;
}
.img-2 .content-2{
  position: absolute;
  top: 20%;
  padding: 0px 10px;
}
.img-3 .content-3{
  position: absolute;
  top: 70%;
  padding: 0px 10px;
}
.img-4 .content-4{
  position: absolute;
  right: 5%;
  top: 20%;
  padding: 0px 10px;
}
.img-5 .content-5{
  position: absolute;
  top: 70%;
  padding: 0px 10px;
}
.img-6 .content-6{
  position: absolute;
  top: 70%;
  padding: 0px 10px;
}
/* end traning area */

/* bmi calculator */

.bmi-calc h2{
  font-size: 48px;
  text-align: center;
}
.bmi-calc p{
  font-size: 14px;
  line-height: 2rem;
  opacity: 0.5;
  text-align: center;
}

/* calculator table and input field */

.calculator{
  background-color: #222222;
}
.calculator-content{
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  gap: 20px;
}
.calculator-item-table{
 width: 50%;
 text-align: center;
}
.calculator-item-field{
  width: 50%;
}
.calculator h2{
  text-align: left;
  font-size: 28px;
  color: white;
}
table, td, th {  
  border: 1px solid #4b4848;
  text-align: left;
}
th, td {
  padding: 10px;
}
th{
  font-size: 16px;
}
td{
  font-size: 14px;
  opacity: 0.4;
}
table {
  border-collapse: collapse;
  width: 70%;
  margin-top: 20px;
}
/* input area */

.calculator-item-field p{
  color: white;
  font-size: 14px;
  opacity: 0.5;
  margin-top: 10px;
}
.user-input{
  width: 100%;
  margin-top: 20px;
}
.height-weight,.age-sex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sex, select{
  width: 100%;
  padding: 16px 82px;
  display: inline-block;
  text-align: left;
}
option{
  text-align: left;
}
select option:first-child{
  color: #eb2d10;
}
input[type=text], select{
  width: 100%;
  padding: 16px 24px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 10px;
  outline-color: #E6533C;
  background-color: #383838;
  color: white;
}
input:focus{
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: monospace;
}
select:focus{
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: monospace;
}
input::placeholder,select{
  color: white;
  font-size: 12px;
  opacity: 0.5;
}

/* our team memeber */

.team-trainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 20px;
  grid-gap: 20px;
  background-color: #222222;
  margin-top: 30px;
  border-radius: 20px;
}
.our-team h2{
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.our-team p{
  text-align: center;
  font-size: 16px;
  opacity: 0.5;
  margin: 10px;
}
.team-member{
  position: relative;
}
.trainer-detalis{
  position: absolute;
  top: 50%;
  padding-left: 20px;
}
.team-member img{
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
}

/* ! footer area start */

footer{
  background-color: #222222;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding: 20px 0px;
}

.fitness-content{
  width: 45%;
}
.fitness-content h2{
  font-size: 60px;
  font-style: italic;
  color: #E6533C;
  font-weight: 800;
}
.fitness-content p{
  font-size: 14px;
  text-align: justify;
  opacity: 0.5;
  padding-right: 50px;
  margin-top: 10px;
  line-height: 1.4rem;
}
.get-start-one{
  width: 25%;
}
.get-start-two{
  width: auto;
}
.get-start-one,.get-start-two ,h4{
  font-size: 28px;
}
.get-start-one,.get-start-two ul li{
  font-size: 16px;
}
.get-start-one,.get-start-two{
  margin-top: 20px;
}
.get-start-one > ul >li{
  opacity: 0.5;
  line-height: 2rem;
}
.get-start-two > ul >li{
  opacity: 0.5;
  line-height: 2rem;
}
.get-start-one,.get-start-two,ul li{
  list-style: none;
}

.footer-end{
  padding: 10px 0px;
}
.footer-end .hr{
  opacity: 0.1;
  color: #222222;
}
.footer-end p{
  text-align: center;
  margin: 10px 0px;
  font-weight: 300;
  opacity: 0.8;
  font-size: 14px;
}

/*! responsive area for sm, md,lg 600px to 1200px */

@media screen and (max-width:600px) {
    .container{
      width: 90%;
      margin: 0 auto;
    }
    nav ul{
      border: none;
    }
    nav ul li{
      display: none;
      border: none;
    }
    nav ul li:last-child{
      display: block;
    }
    .banner,.habit-content{
      flex-direction: column;
      column-width: 100%;
      row-gap: 30px;
    }
    .banner-content,.banner-main-img{
      width: 100%;
    }
    .banner-title{
      font-size: 46px;
    }
    .banner-description{
      width: 90%;
      font-size: 16px;
      text-align: justify;
      word-spacing: normal;
    }
    /* banner part responsive end */

    /** start responsive of habit part */

    .habit-area .habit-title{
      font-size: 32px;
    }
    .habit-area .habit-description{
      font-size: 14px;
    }
    .habit-human h3{
      margin: 8px;
    }

    /* end of habit part */

    /*? start run part */
    .run-area{
      flex-direction: column;
      column-width: 100%;
      padding: 50px 50px;
    }
    .run-content h2,.traning h2,.bmi-calc h2{
      font-size: 32px;
    }
    .run-content .run-btn{
      text-align: center;
    }
    .run-btn .btn{
      padding: 10px 50px;
    }
    .run-content{
      width: 100%;
      padding: 0px 0px;
    }
    .run-image,.run-image, .run-img,.calculator-item-field,.calculator-item-table,.fitness-content,.get-start-one,.get-start-two{
      width: 100%;
      height: 100%;
    }
  /*! end run area */

  /* excercise section */

  .content-1,.content-2,.content-3,.content-4,.content-5,.content-6{
    font-size: 10px;
  }

  /* calculator bmi */
  .bmi-calc p{
    line-height: normal;
    margin-top: 5px;
    text-align: left;
  }
  .bmi-calc h2{
    text-align: left;
  }
.calculator-content{
  flex-direction: column;
}
.height-weight,.age-sex{
  gap: 10px;
}

/* our team */

.team-trainer{
  grid-template-columns: 1fr;
}
.our-team h2{
  font-size: 36px;
}
.our-team p{
  font-size: 14px;
}
/* footer area */

.footer-content{
  flex-direction: column;
}
}


/*! another device ration 600px to 1200px */

@media screen and (min-width: 600px) and (max-width: 1200px){
  .container{
    width: 90%;
    margin: 0 auto;
  }
  nav ul{
      gap: 20px;
  }
  nav ul li{
  padding: 5px 10px;
  
  }
  nav ul li a{
    font-size: 16px;
  }
  .banner{
    flex-direction: column;
    column-width: 100%;
  }
  .banner-content,.banner-main-img{
    width: 100%;
  }
  .banner-title{
    font-size: 78px;
    width: 70%;
  }
  .banner-description{
    width: 70%;
    font-size: 16px;
  }
  .banner-tutorial , .tutorial-content{
    left: 16%;
    padding: 20px;
  }
  .work-out{
    top: 20%;
    padding: 20px;
  }
  /* bannner part responsive end */

  /*? habit is responsive  */
  .habit-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  /* end of habit part */

  /* ? start run area */

  .run-area{
    padding: 30px 30px;
  }
  .run-content{
    padding: 0px 0px;
  }
  .run-content h2{
    font-size: 36px;
  }
  .run-image{
    width: 50%;
    height: 100%;
    padding: 0px 0px;
  }
  .run-img{
    width: 100%;
    height: 100%;
  }
  /* !end run area */
  input[type=text], select {
    width: 95%;
  }
}