/* import of fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* lato is parent fonts of miami */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+CU:wght@100..400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body{
  background-color: #000000;
  color: white;
}

/* share styles */

.container{
  width: 90%;
  margin: 0 auto;
}

section{
  margin: 40px 0px;
}
.btn{
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  margin: 30px 0;
  background-color: #E6533C;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

/* navigation menu design */

.header{
  padding-top: 30px;
  background-color: rgb(27, 27, 27);
}
.header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  gap: 45px;
  padding: 0 2px;
  border: 1px solid #292929;
  border-radius: 25px;
}
nav ul li{
  list-style: none;
  padding: 10px 20px;
}
nav ul li:hover{
  background-color: #E6533C;
  border-radius: 25px;
}
nav .nav-title{
  font-family: "Inter", sans-serif;
  font-size: 36px;
  color: #E6533C;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
nav ul li:first-child{
  background-color: #E6533C;
  border-radius: 25px;
}
nav ul li:last-child{
  display: none;
}

/* banner area */
.banner-area{
  margin-top: 50px;
  margin-bottom: 0;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.banner-content{
  width: 50%;
}
.banner-title{
  font-size: 78px;
  font-weight: 900;
  line-height: normal;
}
.banner-description{
  font-size: 14px;
  margin-top: 20px;
  opacity: 0.6;
}
.banner-content .shape{
  font-family: "Playwrite CU", cursive;
  font-weight: 600;
  font-style: italic;
}
.banner-btn{
  display: flex;
  align-items: center;
  gap: 20px;
}
.banner-content .btn-2{
  background: transparent;
  border: 1px solid white;
}
.banner-main-img{
  width: 50%;
  text-align: center;
  position: relative;
}
.banner-tutorial .tutorial-content{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #2b2828;
  backdrop-filter: blur(60px);
  position: absolute;
  top: 70%;
  border-radius: 10px;
}
.fa-circle{
  color: #E6533C; 
  font-size: 30px;
}
.tutorial-content .title-tutorial{
  font-size: 24px;
  font-weight: 800;
}
.tutorial-content p{
  font-size: 12px;
  font-weight: normal;
  opacity: 0.7;
}
.work-out{
  padding: 10px 15px;
  background-color: #2b2828;
  backdrop-filter: blur(80px);
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 60%;
}
.title-workout{
  font-size: 24px;
  font-weight: 800;
  text-align: start;
}
.work-out p{
  font-size: 12px;
  font-weight: normal;
  opacity: 0.7;
}
/* end banner area */

/* ! habit area start */

.habit-area .habit-title{
  text-align: center;
  font-size: 48px;
}
.habit-area .habit-description{
  text-align: center;
  font-size: 15px;
  opacity: 0.5;
  margin: 20px 0px;
}
.habit-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.habit-human{
  text-align: center;
}
.habit-content .human-img{
  border: 4px solid #292929;
  border-radius: 50%;
}
.habit-human h3{
  font-size: 18px;
  font-weight: 500;
}
.habit-human p{
  font-size: 14px;
  padding: 5px 20px;
  opacity: 0.5;
}
/* end of habit area */

/*? run section design  */

.run-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
  background-color: #222222;
  padding: 50px;
  border-radius: 20px;
}
.run-content{
  width: 50%;
  padding: 0 50px;
}
.run-content h2{
  font-size: 48px;
  color: white;
  margin: 10px 0px;
  text-align: start;
}
.run-content p{
  text-align: justify;
  color: white;
  opacity: 0.5;
}
.run-image{
  width: 50%;
  height: 50%;
  text-align: end;
}
.run-image .run-img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* end run area */











































/*! responsive area for sm, md,lg 600px to 1200px */

@media screen and (max-width:600px) {
    .container{
      width: 90%;
      margin: 0 auto;
    }
    nav ul{
      border: none;
    }
    nav ul li{
      display: none;
      border: none;
    }
    nav ul li:last-child{
      display: block;
    }
    .banner,.habit-content{
      flex-direction: column;
      column-width: 100%;
      row-gap: 30px;
    }
    .banner-content,.banner-main-img{
      width: 100%;
    }
    .banner-title{
      font-size: 46px;
    }
    .banner-description{
      width: 90%;
      font-size: 16px;
    }
    /* banner part responsive end */

    /* start responsive of habit part */

    .habit-area .habit-title{
      font-size: 32px;
    }
    .habit-area .habit-description{
      font-size: 14px;
    }
    .habit-human h3{
      margin: 8px;
    }

    /* end of habit part */

    /*? start run part */
    .run-area{
      flex-direction: column;
      column-width: 100%;
      padding: 50px 50px;
    }
    .run-content h2{
      font-size: 32px;
    }
    .run-content .run-btn{
      text-align: center;
    }
    .run-btn .btn{
      padding: 10px 50px;
    }
    .run-content{
      width: 100%;
      padding: 0px 0px;
    }
    .run-image,.run-image, .run-img{
      width: 100%;
      height: 100%;
    }
  /*! end run area */



}


/*! another device ration 600px to 1200px */

@media screen and (min-width: 600px) and (max-width: 1200px){
  .container{
    width: 90%;
    margin: 0 auto;
  }
  nav ul{
      gap: 20px;
  }
  nav ul li{
  padding: 5px 10px;
  
  }
  nav ul li a{
    font-size: 16px;
  }
  .banner{
    flex-direction: column;
    column-width: 100%;
  }
  .banner-content,.banner-main-img{
    width: 100%;
  }
  .banner-title{
    font-size: 78px;
    width: 70%;
  }
  .banner-description{
    width: 70%;
    font-size: 16px;
  }
  .banner-tutorial , .tutorial-content{
    left: 16%;
    padding: 20px;
  }
  .work-out{
    top: 20%;
    padding: 20px;
  }
  /* bannner part responsive end */

  /*? habit is responsive  */
  .habit-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  /* end of habit part */

  /* ? start run area */

  .run-area{
    padding: 30px 30px;
  }
  .run-content{
    padding: 0px 0px;
  }
  .run-content h2{
    font-size: 36px;
  }
  .run-image{
    width: 50%;
    height: 100%;
    padding: 0px 0px;
  }
  .run-img{
    width: 100%;
    height: 100%;
  }
  /* !end run area */


}